services:
  openvpn:
    image: kylemanna/openvpn
    container_name: openvpn
    ports:
      - "1194:1194/udp"
    restart: always
    cap_add:
      - NET_ADMIN
    volumes:
      - ./openvpn-data/conf:/etc/openvpn

  socks5:
    image: serjs/go-socks5-proxy
    container_name: socks5
    ports:
      - "1080:1080"
    restart: always
    environment:
      - PROXY_USER=${SOCKS5_USER}
      - PROXY_PASSWORD=${SOCKS5_PASSWORD}